Flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0
python-dotenv==1.0.1
Werkzeug==3.0.1

numpy==1.26.4
opencv-python-headless==4.9.0.80
Pillow==10.3.0

face-recognition

scipy==1.12.0
scikit-learn==1.4.2